/build
/vendor
/node_modules
package-lock.json
composer.phar
composer.lock
phpunit.xml
auth.json

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env˝
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
/vscode 
coverage
build
.DS_Store
